################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/git-practice-Yulisa-Sandoval/v17
/.vs/git-practice-Yulisa-Sandoval/FileContentIndex
/.vs/slnx.sqlite
